<link rel="stylesheet" href="https://use.typekit.net/jfo4mqb.css">

<div *ngIf="viewHeight" class="landing-container" id="landing">
  <br><br><br>
    <div class="waveform-arts" id="title">
        Waveform <div id="arts">Arts</div>
    </div>
    <!-- <div class="subtitle">providing production and post-production audio expertise to build custom sound design, convincing foley, and subtle stimulating music to make your video sound professional and complete</div> -->
    <div class="subtitle" id="subtitle1">production and post-production audio expertise </div>
    <div class="subtitle" id="subtitle2">sound design, foley services, and film scoring</div>
    <div class="subtitle" id="subtitle3">make your video sound professional and complete</div>
    <br><br>
    <button *ngIf="showBackButton" class="back-button" mat-raised-button (click)="showAllPanels()">back</button>
    <div class="panel-container">
      <div class="landing-panel" id="prod" (click)="selected(prod)">
          <div class="landing-panel-text">Production Services</div>
      </div>
      <div class="landing-panel" id="post" (click)="selected(post)">
          <div class="landing-panel-text">Post Services</div>
      </div>
      <div class="landing-panel" id="foley" (click)="selected(foley)">
          <div class="landing-panel-text">Foley Store</div>
      </div>
      <div class="landing-panel" id="music" (click)="selected(music)">
        <div class="landing-panel-text">Music</div>
      </div>
    </div>

    <div class="video-container-hr"></div>

    <div class="video-container">

    </div>
    <br><br>

</div>
