@import '../global-keyframes.scss';

.landing-container {
  background-image: linear-gradient(to right, #2edded, #54c0f4, #45a9d0, #0180b3);
  font-size: 200%;
  font-family: fira-sans-2, sans-serif;
  font-weight: 100;
  font-style: normal;
}

// --- title, subtitles ------------------------------------

.waveform-arts {
  font-size: 300%;
  margin-bottom: 5rem;
  margin-left: 2rem;
  color: #000000;
  font-weight: 900;
}

#arts {
  color: white;
  display: inline-block;
  margin-left: 9px;
  font-weight: 100;
}

#title {
  animation: fadeIn 1.75s ease;
}

.subtitle {
  font-size: 60%;
  font-family: prestige-elite-std, monospace;
  font-weight: 400;
  font-style: italic;
  margin: 10px 10px;
  max-width: 565px;
  padding: 5px;
  border-left: 1px solid black;
}

#subtitle1 {
  margin-left: 0;
  animation: fadeIn 1.75s ease .15s forwards, subtitleEffect1 2s ease .1s forwards;
  opacity: 0;
}

#subtitle2 {
  margin-left: 0;
  animation: fadeIn 1.75s ease .3s forwards, subtitleEffect2 2s ease .1s forwards;
  opacity: 0;
}

#subtitle3 {
  margin-left: 0;
  animation: fadeIn 1.75s ease .6s forwards, subtitleEffect3 2s ease .1s forwards;
  opacity: 0;
}

.back-button {
    font-size: 35%;
    margin-left: 3.5rem;
    border: 1px solid  1px solid #77d9e3;
    height: 40px;
    opacity: 1;
    animation: expandBackButton 1s ease;
}

// --- panels ------------------------------------

.panel-container {
  width: 40%;
  min-width: 338px;
  display: inline-block;
}

.video-container {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.257);
  height: 397px;
  width: 50vw;
  margin-top: 20px;
  margin-left: 5%;
  display: inline-block;
  vertical-align: top;
}

.video-container-hr {
  display: none;
}

@media (max-width: 850px) {
  .video-container {
    width: 45vw;
  }
}

@media (max-width: 740px) {
  .video-container {
    width: 40vw;
  }
}

@media (max-width: 665px) {
  .waveform-arts {
    font-size: 250%;
  }
  .video-container {
    width: 80vw;
    display: block;
    margin: auto;
    margin-top: 2rem;
  }
  .video-container-hr {
    display: block;
    margin: auto;
    width: 50%;
    border: .25px solid black;
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  #arts {
    margin-top: 2rem;
  }
}

@media(max-width: 666px) {
  .landing-container {
    height: 1350px;
  }
}

.landing-panel {
    box-shadow: 0px 0px 20px -5px #0d4e87;
    font-weight: 100;
    transition: box-shadow .4s ease;
    margin-left: 2rem;
    margin-top: 20px;
}

.landing-panel-text {
    padding: 1rem;
    text-align: center;
    color: white;
    animation: fadeIn 2s ease;
    font-weight: 100;
    padding: 2rem;
    user-select: none;
}

#prod {
  animation: fadeIn 1.75s ease .85s forwards;
  opacity: 0;
}

#post {
  animation: fadeIn 1.75s ease .95s forwards;
  opacity: 0;
}

#foley {
  animation: fadeIn 1.75s ease 1.25s forwards;
  opacity: 0;
}

#music {
  animation: fadeIn 1.75s ease 1.35s forwards;
  opacity: 0;
}


// -------------------------

@keyframes fadePanel {
    from { opacity: 1; height: 100%; }
    to   { opacity: 0; height: 0%; }
}

.fadeAway {
    animation: fadePanel .7s ease;
    opacity: 0;
    height: 0%;
}

.display-none {
    display: none;
}

@keyframes lowerHeight {
    from {height: 50rem;}
    to {height: 30rem;}
}

.lower-height {
    height: 30rem;
    animation: lowerHeight .2s ease;
}
