<div class="reviews" id="reviews">
    <div class="review">
        "Needed a ton of foley last minute, heard back with a quote immediately, got 100% of what I needed the following night. Didn't sound rushed or cheap. Highly recommend." 
        <br>
        <div class="author">- Eric W.</div>
    </div>
    <div class="review">
        "waveform arts edited dialog in some of our problem scenes. absolutely insane quality. they let you ask for one re-edit but we went with the first pass and our client was really happy."
        <br>
        <div class="author">- Kevin K.</div>
    </div>
    <div class="review">
        "I've been very surprised by Waveform Arts for a while now. Their foley store is incredibly well priced for the sounds you get + they'll make custom foley within a few days."
        <br>
        <div class="author">- Danielle P.</div>
    </div>
    <div class="review">
        "Good sound quality. Wish they did video."
        <br>
        <div class="author">- Keith H.</div>
    </div>
    <div class="review">
        "One stop sound shop for editors. I've used them when I'm away from my gear but need good recorded sounds. Tell them what you need and they'll figure out how to get it to you."
        <br>
        <div class="author">- Emily B.</div>
    </div>
</div>