@font-face {
    font-family: dejavu;
    src: url('/../../../../usr/share/fonts/truetype/dejavu/DejaVuMathTeXGyre.ttf')
}

@font-face {
    font-family: idkbreh;
    src: url('/../../../../usr/share/fonts/cmap/adobe-cns1/Adobe-CNS1-0')
}